body
{
    position: fixed; 
    top: 0; 
    left: 0;
    background-image: url(images/tavern.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;    
    /* Preserve aspet ratio */
    min-width: 100%;   
    min-height: 100%;   
}